In [1]:
import pandas as pd
import numpy as np
import pickle
from script import *
from sarimax_script import *
from garch_script import *
from appliances_script import *

%matplotlib inline

/usr/local/lib/python3.5/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
plt.rc('figure', figsize=(18.0, 6.0))
pd.set_option('display.max_columns', None)

In [87]:
df_545 = pickle.load(open('pickle_files/df_545.p','rb'))

In [1]:
#function to find charge peaks
def charge_peak(row):
    if row['car1'] > 0.8:
        return 1
    else:
        return 0

In [94]:
#function to find mean car charge at time
def mean_car_charge(data, start, end):
    car_charge = {}
    for index in data.Time_Index.unique():
        car_charge[index] = np.mean(data[data.Time_Index==index].car1)
    
    return car_charge

In [88]:
start_train, end_train, start_test, end_test = find_dates(545, 15, 90)

In [89]:
df_545.index = pd.to_datetime(df_545.apply(strip_tz, axis=1))

In [90]:
df_545_car = df_545.loc[start_train:end_test,['localhour','car1']]

In [92]:
df_545_car['Car_Charge'] = df_545_car.apply(charge_peak, axis=1)
df_545_car['Day_of_Week'] = df_545_car.index.weekday_name
df_545_car['Hour'] = df_545_car.index.hour

In [93]:
df_545_car['Time_Index'] = df_545_car['Day_of_Week']+ df_545_car['Hour'].astype(str)

In [78]:
#find mean of each time index
car_charge = {}

for index in df_545_car.Time_Index.unique():
    car_charge[index] = np.mean(df_545_car[df_545_car.Time_Index ==index].car1)

In [48]:
df_545_car

,localhour,car1,Car_Charge,Day_of_Week,Hour,Time_Index
2016-08-02 00:00:00,2016-08-02 00:00:00-05:00,0.000000,0,Tuesday,0,Tuesday0
2016-08-02 01:00:00,2016-08-02 01:00:00-05:00,0.000000,0,Tuesday,1,Tuesday1
2016-08-02 02:00:00,2016-08-02 02:00:00-05:00,0.000000,0,Tuesday,2,Tuesday2
2016-08-02 03:00:00,2016-08-02 03:00:00-05:00,0.114117,0,Tuesday,3,Tuesday3
2016-08-02 04:00:00,2016-08-02 04:00:00-05:00,0.000000,0,Tuesday,4,Tuesday4
2016-08-02 05:00:00,2016-08-02 05:00:00-05:00,0.000000,0,Tuesday,5,Tuesday5
2016-08-02 06:00:00,2016-08-02 06:00:00-05:00,0.000367,0,Tuesday,6,Tuesday6
2016-08-02 07:00:00,2016-08-02 07:00:00-05:00,0.000000,0,Tuesday,7,Tuesday7
2016-08-02 08:00:00,2016-08-02 08:00:00-05:00,0.000500,0,Tuesday,8,Tuesday8
2016-08-02 09:00:00,2016-08-02 09:00:00-05:00,0.000100,0,Tuesday,9,Tuesday9
2016-08-02 10:00:00,2016-08-02 10:00:00-05:00,0.000000,0,Tuesday,10,Tuesday10
2016-08-02 11:00:00,2016-08-02 11:00:00-05:00,0.000317,0,Tuesday,11,Tuesday11
2016-08-02 12:00:00,2016-08-02 12:00:00-05:00,0.000000,0,Tuesday,12,Tuesday12
2016-08-02 13:00:00,2016-08-02 13:00:00-05:00,0.000000,0,Tuesday,13,Tuesday13
2016-08-02 14:00:00,2016-08-02 14:00:00-05:00,0.000000,0,Tuesday,14,Tuesday14
2016-08-02 15:00:00,2016-08-02 15:00:00-05:00,0.000117,0,Tuesday,15,Tuesday15
2016-08-02 16:00:00,2016-08-02 16:00:00-05:00,0.000000,0,Tuesday,16,Tuesday16
2016-08-02 17:00:00,2016-08-02 17:00:00-05:00,0.000000,0,Tuesday,17,Tuesday17
2016-08-02 18:00:00,2016-08-02 18:00:00-05:00,0.000000,0,Tuesday,18,Tuesday18
2016-08-02 19:00:00,2016-08-02 19:00:00-05:00,2.243433,1,Tuesday,19,Tuesday19
2016-08-02 20:00:00,2016-08-02 20:00:00-05:00,0.000000,0,Tuesday,20,Tuesday20
2016-08-02 21:00:00,2016-08-02 21:00:00-05:00,0.000000,0,Tuesday,21,Tuesday21
2016-08-02 22:00:00,2016-08-02 22:00:00-05:00,0.000000,0,Tuesday,22,Tuesday22
2016-08-02 23:00:00,2016-08-02 23:00:00-05:00,0.000000,0,Tuesday,23,Tuesday23
2016-08-03 00:00:00,2016-08-03 00:00:00-05:00,0.115417,0,Wednesday,0,Wednesday0
2016-08-03 01:00:00,2016-08-03 01:00:00-05:00,0.000000,0,Wednesday,1,Wednesday1
2016-08-03 02:00:00,2016-08-03 02:00:00-05:00,0.000000,0,Wednesday,2,Wednesday2
2016-08-03 03:00:00,2016-08-03 03:00:00-05:00,0.000000,0,Wednesday,3,Wednesday3
2016-08-03 04:00:00,2016-08-03 04:00:00-05:00,0.000000,0,Wednesday,4,Wednesday4
2016-08-03 05:00:00,2016-08-03 05:00:00-05:00,0.094833,0,Wednesday,5,Wednesday5
...,...,...,...,...,...,...
2016-10-29 19:00:00,2016-10-29 19:00:00-05:00,0.000000,0,Saturday,19,Saturday19
2016-10-29 20:00:00,2016-10-29 20:00:00-05:00,0.000000,0,Saturday,20,Saturday20
2016-10-29 21:00:00,2016-10-29 21:00:00-05:00,0.002567,0,Saturday,21,Saturday21
2016-10-29 22:00:00,2016-10-29 22:00:00-05:00,0.003550,0,Saturday,22,Saturday22
2016-10-29 23:00:00,2016-10-29 23:00:00-05:00,0.003150,0,Saturday,23,Saturday23
2016-10-30 00:00:00,2016-10-30 00:00:00-05:00,0.003317,0,Sunday,0,Sunday0
2016-10-30 01:00:00,2016-10-30 01:00:00-05:00,0.002317,0,Sunday,1,Sunday1
2016-10-30 02:00:00,2016-10-30 02:00:00-05:00,0.000000,0,Sunday,2,Sunday2
2016-10-30 03:00:00,2016-10-30 03:00:00-05:00,0.000000,0,Sunday,3,Sunday3
2016-10-30 04:00:00,2016-10-30 04:00:00-05:00,0.000000,0,Sunday,4,Sunday4
2016-10-30 05:00:00,2016-10-30 05:00:00-05:00,0.000000,0,Sunday,5,Sunday5
2016-10-30 06:00:00,2016-10-30 06:00:00-05:00,0.000000,0,Sunday,6,Sunday6
2016-10-30 07:00:00,2016-10-30 07:00:00-05:00,0.000000,0,Sunday,7,Sunday7
2016-10-30 08:00:00,2016-10-30 08:00:00-05:00,0.000800,0,Sunday,8,Sunday8
2016-10-30 09:00:00,2016-10-30 09:00:00-05:00,0.000000,0,Sunday,9,Sunday9
2016-10-30 10:00:00,2016-10-30 10:00:00-05:00,0.000000,0,Sunday,10,Sunday10
2016-10-30 11:00:00,2016-10-30 11:00:00-05:00,0.000000,0,Sunday,11,Sunday11
2016-10-30 12:00:00,2016-10-30 12:00:00-05:00,0.000000,0,Sunday,12,Sunday12
2016-10-30 13:00:00,2016-10-30 13:00:00-05:00,2.546217,1,Sunday,13,Sunday13
2016-10-30 14:00:00,2016-10-30 14:00:00-05:00,0.153417,0,Sunday,14,Sunday14
2016-10-30 15:00:00,2016-10-30 15:00:00-05:00,0.000000,0,Sunday,15,Sunday15
2016-10-30 16:00:00,2016-10-30 16:00:00-05:00,0.000000,0,Sunday,16,Sunday16
2016-10-30 17:00:00,2016-10-30 17:00:00-05:00,0.000000,0,Sunday,17,Sunday17
2016-10-30 18:00:00,2016-10-30 18:00:00-05:00,0.000067,0,Sunday,18,Sunday18
2016-10-30 19:00:00,2016-10-30 19:00:00-05:00,0.000000,0,Sunday,19,Sunday19
2016-10-30 20:00:00,2016-10-30 20:00:00-05:00,0.000000,0,Sunday,20,Sunday20
2016-10-30 21:00:00,2016-10-30 21:00:00-05:00,0.001233,0,Sunday,21,Sunday21
2016-10-30 22:00:00,2016-10-30 22:00:00-05:00,0.000000,0,Sunday,22,Sunday22
2016-10-30 23:00:00,2016-10-30 23:00:00-05:00,0.000000,0,Sunday,23,Sunday23
2016-10-31 00:00:00,2016-10-31 00:00:00-05:00,0.000000,0,Monday,0,Monday0

In [49]:
pickle.dump(df_545_car,open('car_charge_exog.p','wb'))